node_modules/

1) Ensure node modules is installed with ‘express’ ‘errorhandler’ ‘morgan’ ‘body-parser’ ‘cors’ ‘path’ packages before working on the project locally.

2) In the Client side, post.js has been modified to createPost.js. 

3) I have also added createPosts to GET the link that is being sent up to the server. 

4) In the Server side, I have added a routes that contains posts.js, index.js.

5) posts.js, index.js contains the module exports.
	


